*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fffafa;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 100px;
}

main {
  padding: 1rem;
  overflow: auto;
}
