<div class="container my-3">
  <div *ngIf="taskList$ | async as tasks">
    <ng-container *ngIf="tasks.length > 0; else noTasks">
      <div *ngFor="let task of tasks">
        <app-task [task]="task"></app-task>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noTasks>
  <div class="my-3 text-center" >
    <p class="text-uppercase fw-bold mb-2">Nenhuma tarefa cadastrada</p>

    <img src="https://img.freepik.com/vetores-premium/conceito-de-procrastinacao-mulher-sentada-sem-se-concentrar-nas-tarefas-de-trabalho_1334819-35730.jpg" alt="Nenhuma tarefa cadastrada">
  </div>
</ng-template>
