<div class="container my-3">
  <div *ngIf="taskList$ | async as tasks">
    <ng-container *ngIf="tasks.length > 0; else noTasks">
      <div *ngFor="let task of tasks">
        <app-task [task]="task"></app-task>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noTasks>
  <div class="container my-3">
    <div class="card w-85 mb-3">
      <div class="card-body text-center">
        <p class="noTask text-uppercase">Nenhuma tarefa cadastrada</p>
      </div>
    </div>
  </div>
</ng-template>
