.navbar{
    padding: 8px;
    height: 15vh;
}

.navbar-brand h1, .title-container p{
    color: #fff;
    margin-bottom: 3px;
}

.title-container .display-time{
    margin: 0;
    font-size: 1.6rem;
}

.day-container{
    display: flex;
    color: #fff;
}

.title-container{
    flex-direction: column;
}